### 평균 점수 구하기
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

In [9]:
ko = 80
en = 75
ma = 55

ave = (ko + en + ma) / 3

print(ave)

70.0

### 홀수, 짝수 판별하기
> 자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [12]:
num = 13

result = num % 2 == 0

print(result)

False

### 주민등록번호 나누기
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.

* 문자열 슬라이싱 사용해보기

In [14]:
# 방법 1
pin = "881120-1068234"

yyyymmdd = pin[:6]
num = pin[7:]

print(yyyymmdd)
print(num)

881120
1068234

### 주민등록번호 인덱싱
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자.

In [15]:
pin = "881120-1068234"
print(pin[7])

1

### 문자열 바꾸기

In [16]:
a = "a:b:c:d"
b = a.replace(":", "#")

print(b)

a#b#c#d

### 리스트 역순 정렬하기

In [19]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 리스트를 문자열로 만들기

In [20]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 튜플 더하기

In [21]:
a = (1, 2, 3)
a = a + (4, )

print(a)

(1, 2, 3, 4)

### 딕셔너리의 키

In [24]:
# a = {}
a = dict()

a["name"] = "python"
a[("a",)] = "python"
# a[[1]] = "python"
a[250] = "python"
print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

### 딕셔너리 값 추출하기

In [25]:
a = {"A": 90, "B": 80, "C": 70}
result = a.pop("B")
print(a)
print(result)

{'A': 90, 'C': 70}
80

### 리스트에서 중복 제거하기

In [29]:
a = [1, 1, 1, 2, 2, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)

print(aSet)
print(b)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

### 파이썬 변수

In [30]:
a = b = [1, 2, 3]
a[1] = 4

print(b)

[1, 4, 3]